/*Task 4 par. 8: using variables*/
/*Task 4 par. 8: using mixins*/
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -ms-grid-rows: 150px 1fr 120px;
      grid-template-rows: 150px 1fr 120px;
      grid-template-areas: "header header" "nav main" "footer footer";
  overflow-x: hidden;
}

body header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  width: 100%;
  border-bottom: 1px solid #e0edfff0;
  background-color: #cce0fff0;
}

body header h1 {
  max-width: 700px;
  margin: 2% 0 1% 15%;
  font-size: 35px;
  color: #ffffff;
  text-shadow: #9baabf 0 0 4px;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

body nav {
  width: 240px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav;
  max-height: 200px;
  border: 1px solid #e0edfff0;
  background-color: #cce0fff0;
  -ms-grid-column-align: end;
      justify-self: end;
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  margin: 19% 0 0 0;
}

body nav a {
  text-decoration: none;
  font-size: 20px;
  color: #3f4d61e1;
  text-shadow: #9baabf 0 0 2px;
  padding-left: 7px;
}

body nav:hover {
  color: #fffffff0;
}

body nav ul {
  margin: 30px 0 0 0;
}

body nav li {
  margin: 0 0 32px 0;
  list-style-type: none;
}

body main {
  max-width: 800px;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: main;
  background-color: #FFFAFA;
  -ms-grid-column-align: start;
      justify-self: start;
  margin: 7% 0 0 0;
}

body footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
  width: 100%;
  border-top: 1px solid #e0edfff0;
  background-color: #cce0fff0;
  position: relative;
}

body footer #footer_block {
  text-align: right;
  position: absolute;
  top: 50%;
  left: 80%;
  margin-right: -20%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#content {
  padding: 0 20px 20px 40px;
  margin: 0 0 5% 0;
  font-size: 16px;
  text-indent: 40px;
  text-align: justify;
}

#content #change_style {
  max-width: 800px;
  min-height: 60px;
  border: 5px solid #e0edfff0;
  margin-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content #change_style h2 {
  color: #3f4d61e1;
  font-size: 20px;
  margin: 2% 2% 0 2%;
  float: left;
}

#content #change_style label {
  color: #3f4d61e1;
  text-shadow: #9baabfe1 0 0 2px;
  float: left;
  margin: 2% 3% 0 0;
}

#content #artists_block {
  max-width: 800px;
}

#content #artists_block table {
  margin-bottom: 20px;
  padding: 10px;
  position: relative;
}

#content #artists_block table tr {
  border: 1px solid black;
}

#content #artists_block table tr td {
  border: 4px solid #e0edfff0;
  border-radius: 20px;
  max-width: 600px;
}

#content #artists_block table tr td #info {
  color: black;
  font-size: 16px;
  padding: 0 10px 0 10px;
}

#content #artists_block table tr td #for_table {
  max-width: 200px;
  max-height: 200px;
  margin: 10px;
}
/*# sourceMappingURL=table_style.css.map */